  :host ::ng-deep .p-picklist {
    display: flex;
    gap: 1rem;
  }

    :host ::ng-deep .p-picklist .p-picklist-filter-container {
    padding: 1.125rem;
    background: #ffffff;
    border: 1px solid #e2e8f0;
    border-bottom: 0 none;
  }

  :host ::ng-deep .p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    color: #334155;
    background: #ffffff;
    padding: 0.5rem 0.75rem;
    padding-right: 0.75rem;
    border: 1px solid #cbd5e1;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    appearance: none;
    border-radius: 6px;
     box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
  }


  :host ::ng-deep .p-picklist-list-wrapper {
    flex: 1 1 50%;
    background: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    outline-color: transparent;
  }
  
  :host ::ng-deep .p-picklist-list {
    border: 1px solid var(--surface-border);
    background: var(--surface-ground);
    border-radius: var(--border-radius);
    padding: 0.25rem;
    min-height: 24rem;
  }

  :host ::ng-deep .p-picklist-buttons .p-button {
    transition: opacity 0.2s, outline-color 0.2s, background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    color: #475569;
    background: #f1f5f9;
    border: 1px solid #f1f5f9;
    margin-bottom: 0.5rem;
  }
  
  :host ::ng-deep .p-picklist-header {
    background: var(--surface-section);
    color: var(--text-color);
    border-bottom: 1px solid var(--surface-border);
    padding: 0.75rem 1rem;
    font-weight: 600;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
