<div class="flex flex-col flex-auto w-full">
    <app-cabecalho [titulo]="'Listar Usuário'"></app-cabecalho>
    <div class="flex flex-col flex-auto">
        <div class="w-full">
            <div class="flex justify-center items-start p-4">
                <mat-card-content class="w-full p-10">
                    <div class="space-y-6">
                        <div class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                            <div class="flex flex-row w-full items-center gap-4">
                                <app-filtro class="flex-1"
                                    (filtroAlterado)="dadosTabela.filter = $event; dadosTabela.paginator?.firstPage()"></app-filtro>
                                <div class="flex mt-0.5 h-[56px]">
                                    <button mat-raised-button color="primary" class="flex items-center gap-2"
                                        routerLink="/pessoa/cadastrar">
                                        <mat-icon>add</mat-icon>
                                        <span>Cadastrar</span>
                                    </button>
                                </div>
                            </div>
                            <div class="mat-elevation-z7">
                                <table mat-table [dataSource]="dadosTabela" class="w-full" matSort>
                                    <ng-container matColumnDef="username">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold">Login
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="align-middle">
                                            {{element.username}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="attributes.cpf">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            class="font-bold text-center">
                                            CPF
                                        </th>
                                        <td mat-cell *matCellDef="let element" class=" align-middle">
                                            <span>{{element.attributes.cpf | mask: '000.000.000-00' }}</span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            class="font-bold text-center">
                                            E-mail</th>
                                        <td mat-cell *matCellDef="let element" class="align-middle">
                                            {{element.email}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef class="font-bold text-center">Ações</th>
                                        <td mat-cell *matCellDef="let element" class="text-center align-middle">
                                            <div class="flex gap-2 justify-center">
                                                <button mat-icon-button matTooltip="Detalhar" color="primary"
                                                    [routerLink]="['/usuario/detalhar', element.id]">
                                                    <mat-icon>search</mat-icon>
                                                </button>
                                                <button *ngIf="element.enabled" mat-icon-button matTooltip="Desativar" color="primary">
                                                    <mat-icon>visibility</mat-icon>
                                                </button>
                                                <button *ngIf="!element.enabled" mat-icon-button matTooltip="Ativar" color="primary">
                                                    <mat-icon>visibility_off</mat-icon>
                                                </button>
                                                <button mat-icon-button matTooltip="Editar" color="primary"
                                                    [routerLink]="['/usuario/editar', element.id]">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button mat-icon-button matTooltip="Deletar" color="warn"
                                                    (click)="deletarUsuario(element.id)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                                    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="opcoesTamanhoPagina"
                                    showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>

                </mat-card-content>
            </div>
        </div>
    </div>
</div>