<div class="flex flex-col flex-auto w-full">
    <app-cabecalho [titulo]="titulo"></app-cabecalho>
    <div class="flex flex-col flex-auto">
        <div class="w-full">
            <div class="flex justify-center items-start p-4">
                <mat-card-content class="w-full p-10">
                    <div class="space-y-6">
                        <form [formGroup]="formulario" (ngSubmit)="this.enviar.emit()"
                            class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                            <div class="flex flex-col w-full mb-4 mt-2">
                                <div class="flex flex-col gap-4">
                                    <div class="flex flex-col w-full">
                                        <span class="mb-2">Nome:</span>
                                        <mat-form-field appearance="outline" class="w-full">
                                            <mat-label>Nome</mat-label>
                                            <input matInput formControlName="name" autocomplete="off">
                                            <mat-error
                                                *ngIf="formulario.get('name')?.hasError('required') && formulario.get('name')?.touched">
                                                Nome é obrigatório
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-col w-full">
                                        <span class="mb-2">Descrição:</span>
                                        <mat-form-field appearance="outline" class="w-full">
                                            <mat-label>Descrição</mat-label>
                                            <input matInput formControlName="description" autocomplete="off">
                                            <mat-error
                                                *ngIf="formulario.get('description')?.hasError('required') && formulario.get('description')?.touched">
                                                Descrição é obrigatória
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-4">
                                    <div class="flex flex-col gap-4">
                                        <app-autocomplete-mult-select [label]="'Clientes'" [placeholder]="'Selecione clientes'"
                                            [required]="true" [disabled]="titulo === 'Detalhar Sistema'"
                                            [errorMessage]="'Pelo menos um cliente deve ser selecionado'"
                                            [ariaLabel]="'Clientes'" [placeholder]="'Selecione clientes'" [emptyMessage]="'Nnenhum cliente encontrado'"
                                            [inputPlaceholder]="'Digite para buscar ou clique para ver todos...'"
                                            (clientsChanged)="onClientsChanged($event)">
                                        </app-autocomplete-mult-select>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-row w-full mt-6">
                                <div class="flex items-center justify-start w-full">
                                    <button mat-raised-button type="button" class="flex items-center gap-2"
                                        [routerLink]="['/sistema/listar']">
                                        <span>Voltar</span>
                                    </button>
                                </div>
                                <div class="flex items-center justify-end w-full">
                                    <button mat-raised-button color="primary" type="submit"
                                        [disabled]="titulo == 'Detalhar Sistema'" class="flex items-center gap-2">
                                        <span>Salvar</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-card-content>
            </div>
        </div>
    </div>
</div>